{% extends 'base.html.twig' %}

{% block body %}


    {% block nav %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top nav_pri">
            <a class="navbar-brand neon" href=""> Cyberpunk</a>


                {% set ruta = app.request.get('_route') %}

                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                       <li class="nav-item ">
                           <a class="nav-link" href="{{ path('inicio_usuario', {'user': app.user.id}) }}"><i class="fas fa-cog"></i> Inicio </a>
                       </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('combate', {'user': app.user.id}) }}"><i class="fas fa-cog"></i> Lucha</a>
                        </li>

                    {% endif %}
                </ul>

            {% if app.user %}

                    <span class="navbar-light"><i class="fas crown fa-crown"></i>{{ app.user.reputation }}&nbsp&nbsp</span>
                    <span class="golden navbar-light"><i class="golden fas fa-dollar-sign"></i>{{ app.user.money }}&nbsp&nbsp</span>
                    <span class="navbar-light">!Hola, <a class="retro" href="">{{ app.user.nick|capitalize }}</a>! </span>
                    <a href="{{ path('usuario_salir') }}" class="ml-3 btn btn-outline-primary"><i class="fas fa-power-off"></i> EXIT</a>

                {% else %}
                    <span> <a href="">Registro&nbsp&nbsp</a></span>
                    {% if ruta ends with 'entrar' %}

                    {% else %}
                        <a href="{{ path('usuario_entrar') }}" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> ENTRAR</a>
                    {% endif %}
                {% endif %}


        </nav>
        {% for mensaje in app.session.flashbag.get('exito') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.session.flashbag.get('error') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
    {% endblock %} {#NAV#}

    {% block cont_izq %}

    {% endblock %}
    {% block cont_cent %}{% endblock %}
    {% block cont_der %}

    {% endblock %}
    {% block content %}{% endblock %}


    <style>
        .nav_pri{
            background-color: rgba(10,10,10,0.75);
            background: url('{{ asset('src/fondo_cp.jpg') }}');
            border-bottom: 2px outset #70ffff;
        }
    </style>
{% endblock %}